@import url(./root.css);
/* Chris Schubert (Links Oben 'LOGO') */
h1 {
  width: 150px;
  position: absolute;
  top: 2%;
  font-size: 3rem;
  color: silver;
  padding: 10px;
  border-radius: 5px;
  animation: slide-right-and-left 20s infinite linear;
  -webkit-text-stroke: 1px rgb(22, 22, 22);
}

@keyframes slide-right-and-left {
  10% {
    font-family: "Western-Style", sans-serif;
    transform: rotate(10deg);
  }
  20% {
    font-family: "Nav-Style", monospace;
    transform: scale(1.1);
  }
  30% {
    font-family: "Kelten-Style", serif;
    transform: skewX(10deg);
  }
  40% {
    font-family: "Azonix-Style", serif;
    transform: translateY(-10px);
  }
  60% {
    font-family: "Degital-Style", sans-serif;
    transform: rotate(-10deg);
  }
  70% {
    font-family: "Serif-Style", sans-serif;
    transform: scale(0.9);
  }
  80% {
    font-family: "Impact", sans-serif;
    transform: skewY(10deg);
  }
  90% {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  0% {
    transform: translateX(30px);
    border-bottom: 1px solid #60fff2;
    color: #60fff2;
    text-shadow: 0 0 10px #60fff2, 0 0 20px #60fff2, 0 0 30px #60fff2;
  }
  25% {
    transform: translateX(300px);
    border-bottom: 1px solid #fcff60;
    color: #60fff2;
    text-shadow: 0 0 10px #60fff2, 0 0 20px #60fff2, 0 0 30px #60fff2;
  }
  50% {
    transform: translateX(600px);
    border-bottom: 1px solid #ff9d60;
    color: #60fff2;
    text-shadow: 0 0 10px #60fff2, 0 0 20px #60fff2, 0 0 30px #60fff2;
  }
  75% {
    transform: translateX(300px);
    border-bottom: 1px solid #ff6060;
    color: #60fff2;
    transform: perspective(100px) rotateY(180deg);
    text-shadow: 0 0 10px #60fff2, 0 0 20px #60fff2, 0 0 30px #60fff2;
  }
  100% {
    transform: translateX(30px);
    border-bottom: 1px solid #607dff;
    color: #60fff2;
    text-shadow: 0 0 10px #60fff2, 0 0 20px #60fff2, 0 0 30px #60fff2;
  }
}

/* MAIN SECTION/ Project BAR */

main {
  margin-top: 250px;
  .Project-Bar {
    width: 100%;
    height: 100vh;
    padding: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 300px;
    .Project {
      &:active{
        scale: 1.2;
        transition: 1s;
      }
      outline: 1px solid rgb(245, 222, 179, 0);
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 2rem;
      background-color: rgba(0, 0, 0, 0.096);
      &:nth-child(1) {
        border-radius: 10px 0 0 10px;
      }
      &:nth-child(3) {
        border-radius: 0 10px 10px 0;
      }
      .Project-inner {
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h4 {
          font-size: 1.6rem;
          margin-bottom: 1.5rem;
        }
        img {
          width: 150px;
          height: 100px;
          margin-bottom: 30px;
          border-radius: 10px;
        }
      }
    }
  }
}


.--Project1:hover,
.--Project2:hover,
.--Project3:hover {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  z-index: 1001;
  border-radius: 50% !important;
  text-align: center;
  transform: scale(1.2);
  box-shadow: 1px 1px 1px 10px solid rgb(96, 255, 242);
  box-shadow: 1px 1px 10px rgb(96, 255, 242);
  transition: 2s;
}

.--Project1 a:hover,
.--Project2 a:hover,
.--Project3 a:hover{
  color: var(--Text-accent1);
  text-decoration: overline 1px gold;
}


/* THATS ME SECTION */

.thats-me {
  width: 100%;
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      width: 700px;
      text-align: right;
    }
    ul {
      list-style: none;
    }
  }
}

.thats-me-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem 2rem 0rem;
  cursor: pointer;
  text-align: center;
  z-index: 900;
  img {
    opacity: 0.7;
    &:hover {
      opacity: 0.9;
    }
  }
}

/* Grid */

.thats-me {
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.skills {
  grid-area: 2 / 5 / 12 / 6;
}
.me {
  grid-area: 2 / 1 / 13 / 2;
}
.me-text {
  grid-area: 10 / 2 / 13 / 5;
}
.dynamic-i {
  grid-area: 2 / 2 / 10 / 5;
}


.skill-balken-js,
.skill-balken-react,
.skill-balken-angular,
.skill-balken-ts,
.skill-balken-mdb,
.skill-balken-eng,
.skill-balken-team,
.skill-balken-tstrategie,
.skill-balken-ta,
.skill-balken-bw,
.skill-balken-ch {
  z-index: 1001;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(245, 222, 179, 0);
  border-bottom: 1px solid var(--Text-accent1);
  outline: 1px solid rgb(245, 222, 179, 0);
  i {
    color: goldenrod;
    display: block;
  }
  &:hover {
    background-color: rgba(73, 73, 73, 0.386);
    border: 1px solid rgb(96, 255, 242, 0.5);
    outline: 1px solid rgb(96, 255, 242, 0.5);
    transition: 1s;
  }
  &:active {
    box-shadow: 1px 1px 10px rgb(96, 255, 242);
    transition: 0;
  }
}

.skill-balken-js span,
.skill-balken-react span,
.skill-balken-angular span,
.skill-balken-ts span,
.skill-balken-mdb span,
.skill-balken-eng span,
.skill-balken-team span,
.skill-balken-tstrategie span,
.skill-balken-ta span,
.skill-balken-bw span,
.skill-balken-ch span {
  font-size: 0.7rem;
  font-weight: bold;
}

.skill-balken-js:active i,
.skill-balken-react:active i,
.skill-balken-angular:active i,
.skill-balken-ts:active i,
.skill-balken-mdb:active i,
.skill-balken-eng:active i,
.skill-balken-team:active i,
.skill-balken-tstrategie:active i,
.skill-balken-ta:active i,
.skill-balken-bw:active i,
.skill-balken-ch:active i,
.skill-balken-js span:active i,
.skill-balken-react span:active i,
.skill-balken-angular span:active i,
.skill-balken-ts span:active i,
.skill-balken-mdb span:active i,
.skill-balken-eng span:active i,
.skill-balken-team span:active i,
.skill-balken-tstrategie span:active i,
.skill-balken-ta span:active i,
.skill-balken-bw span:active i {
  text-shadow: 0 0 10px rgba(96, 255, 242, 0.5),
    0 0 20px rgba(96, 255, 242, 0.5), 0 0 30px rgba(96, 255, 242, 0.5);
}

.kontakt-section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem;
  border-left: 1px solid var(--Text-accent1);
}

.kontakt-form,
.logo-contact,
.abspann {
  width: 30%;
  padding: 5rem;
}

h2 {
  width: 300px;
  font-family: Azonix-Style;
  animation: tilt-and-fall 3s both ease-out;
}

@keyframes tilt-and-fall {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(180deg);
    text-shadow: 1px 1px 10px rgb(96, 255, 242);
    transform: translateY(10px);
  }
  100% {
    transform: rotate(-5deg);
    text-shadow: 1px 1px 10px rgb(96, 255, 242);
  }
}

.logo-contact img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
}

.kontakt-form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.kontakt-form .form-group {
  display: flex;
  flex-direction: column;
}

.kontakt-form input,
.kontakt-form select,
.kontakt-form textarea {
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: wheat;
  border-bottom: 1px solid #ccc;
  outline: rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  font-family: Azonix-Style;
  &:hover {
    border-bottom: 1px solid var(--Text-accent1);
  }
  &:focus {
    border-bottom: 1px solid var(--Text-accent1);
    box-shadow: 1px 1px 10px rgb(96, 255, 242);
    transition: 0.1s;
  }
  option {
    color: black;
  }
}

.kontakt-form select {
  width: auto;
  margin-right: 15rem;
}

.kontakt-form div {
  display: flex;
  align-items: left;
}

.kontakt-form div input[type="tel"] {
  flex: 1;
}

.btn-senden {
  padding: 0.75rem 1.5rem;
  background-color: var(--Text-accent1);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  font-weight: bold;
  &:hover {
    background-color: rgba(0, 0, 0, 0);
    color: var(--Text-accent1);
    border-bottom: 1px solid var(--Text-accent1);
  }
}

.abspann {
  text-align: center;
  margin-top: 2rem;
  line-height: 2rem;
  p {
    padding: 1rem;
  }
  i:hover {
    color: var(--Text-accent1);
  }
  a {
    font-size: 0.8rem;
    &:hover {
      color: var(--Text-accent1);
    }
  }
}

.animated-logo {
  display: grid;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 70px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.animated-logo img:nth-child(1) {
  grid-area: 1 / 1;
  width: 100%;
}

.animated-logo img:nth-child(2) {
  grid-area: 2 / 1;
  width: 100%;
}

.animated-logo img:nth-child(3) {
  grid-area: 3 / 1;
  width: 100%;
}

.animated-logo img:nth-child(4) {
  grid-area: 1 / 2;
  width: 100%;
}

.animated-logo img:nth-child(5) {
  grid-area: 2 / 2;
  width: 100%;
}

.animated-logo img:nth-child(6) {
  grid-area: 3 / 2;
  width: 100%;
}

.animated-logo img:nth-child(7) {
  grid-area: 1 / 3;
  width: 100%;
}

.animated-logo img:nth-child(8) {
  grid-area: 2 / 3;
  width: 100%;
}

.animated-logo img:nth-child(9) {
  grid-area: 3 / 3;
  width: 100%;
}

@keyframes fly-in {
  0% {
    transform: translateX(1000px) translateY(1000px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes fly-in-arc-1 {
  0% {
    transform: translateX(-1000px) translateY(1000px) rotate(0deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}

@keyframes fly-in-arc-2 {
  0% {
    transform: translateX(1000px) translateY(-1000px) rotate(0deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(-360deg);
  }
}

@keyframes fly-in-arc-3 {
  0% {
    transform: translateX(-1000px) translateY(-1000px) rotate(0deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}

@keyframes fly-in-arc-4 {
  0% {
    transform: translateX(1000px) translateY(1000px) rotate(0deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(-360deg);
  }
}

@keyframes fly-in-arc-5 {
  0% {
    transform: translateX(0) translateY(-1000px) rotate(0deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(360deg);
  }
}
.animated-logo img:nth-child(1) {
  animation: fly-in 1s ease-out forwards;
}

.animated-logo img:nth-child(2) {
  animation: fly-in-arc-1 1.2s ease-out forwards;
}

.animated-logo img:nth-child(3) {
  animation: fly-in-arc-3 1.4s ease-out forwards;
}

.animated-logo img:nth-child(4) {
  animation: fly-in-arc-1 1.6s ease-out forwards;
}

.animated-logo img:nth-child(5) {
  animation: fly-in-arc-4 1.8s ease-out forwards;
}

.animated-logo img:nth-child(6) {
  animation: fly-in-arc-2 2s ease-out forwards;
}

.animated-logo img:nth-child(7) {
  animation: fly-in-arc-5 2.2s ease-out forwards;
}

.animated-logo img:nth-child(8) {
  animation: fly-in-arc-1 2.4s ease-out forwards;
}

.animated-logo img:nth-child(9) {
  animation: fly-in-arc-2 2.6s ease-out forwards;
}