@import url(../root.css);
@import url(../style.css);
@import url(../calculator/taschenrechner.css);

main{
  width: 100%;
  height: 100vh;
  margin-bottom: 250px;
}
#download-btn:hover{
  color: white;
}

button{
  cursor: pointer;
  width: 100px;
}

h2{
  margin-bottom: 50px;
  animation: none;
  text-shadow: 0pc 0px 10px var(--Text-accent1);
}

#download-btn:hover i{
  color: yellowgreen;
}

.to-do-app {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--BG-Dark);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 auto;
  width: 50%;
}

#new-task {
  flex: 1;
  padding: 15px; /* Increased padding */
  border-radius: 5px;
  font-size: 16px; /* Increased font size */
}

#add-task-btn {
  width: 100px;
  height: 3.1rem;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Increased font size */
  &:hover{
    background-color: var(--BG-Dark);
    color: var(--Text-accent1);
  }
}

#add-task-btn i {
  margin-right: 5px;
}

#task-list {
  list-style-type: none;
  padding: 0;
  font-family: Azonix-Style;
}

#task-list li {
  width: 50%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#task-list li button {
  position: relative;
  right: 0;
}

#task-list li:last-child {
  border-bottom: none;
}